out/
simfab_traces/


sim_stats.json
sim.log
simconfig.json
wio_flow.json

artifact_*.json
compile_out/
wsjob-*.json
run_meta.json

wio_flows*/

*.log
*/log/*
!*/log/.gitkeep

*/compile_out/*
!*/compile_out/.gitkeep